@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

.App {
  text-align: center;
}

.button {
  font-family: "Montserrat", sans-serif;
  margin-left: 6px;
}

.navbar .navbar-brand {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  display: block;
  width: 100%;
  margin-top: 10px;
}

.navbar-brand-date {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  display: block;
  width: 100%;
}

.table {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}

.tag {
  font-size: x-large;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

.notification {
  max-width: "300px";
  max-height: "100%";
  min-width: "200px";
  min-height: "50%";
}
